nav {
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding-inline: 1rem;
}